* {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    
}

.subcription {
    
    text-align: center;
    background-color: pink;
    color: black;
    padding: 20px;
    
    
}

.subcription__title{
    font-size: 16px ;
    
}


.container {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    
    text-align: center;
    width: 40%%;
    height: 50%;
    border-radius: 20px;
    align-items: center; 

    
}

.container__s1,
.container__s2,
.container__s3 {
    border-radius: 20px;
    background-color: black;
    color: white;
    flex-basis: 100%;
    margin: 50px;
    padding: 50px;
    
    

   
}


ul {
    border: white solid 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    
    
}

